server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mercado
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true