<nav th:fragment="sidebar" class="menu-lateral" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Botão de menu -->
    <div class="btn-expandir">
        <i class="bi bi-list"></i>
    </div>

    <!-- Logo (agora logo abaixo do botão) -->
    <div class="logo-container logo">
        <a th:href="@{/}">
            <img th:src="@{/images/GESTOK.png}" alt="Logo GESTOK" class="logo-img">
        </a>
    </div>

    <!-- Menu -->
    <ul>
        <li class="item-menu">
            <a th:href="@{/}">
                <span class="icon"><i class="bi bi-columns-gap"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>

        <li class="item-menu">
            <a th:href="@{/produtos}">
                <span class="icon"><i class="bi bi-basket3"></i></span>
                <span class="txt-link">Produtos</span>
            </a>

        </li>

        <li class="item-menu">
            <a th:href="@{/categorias}">
                <span class="icon"><i class="bi bi-tags"></i></span>
                <span class="txt-link">Categorias</span>
            </a>
        </li>

        <li class="item-menu" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/usuarios}">
                <span class="icon"><i class="bi bi-people"></i></span>
                <span class="txt-link">Usuários</span>
            </a>
        </li>

        <li class="item-menu">
            <a th:href="@{/usuarios/config}">
                <span class="icon"><i class="bi bi-person-gear"></i></span>
                <span class="txt-link">Configurações</span>
            </a>
        </li>

        <li class="item-menu">
            <a th:href="@{/logout}">
                <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                <span class="txt-link">Sair</span>
            </a>
        </li>

        <li class="usuario">
            <a th:href="@{/usuarios/config}">
                <span class="icon">
                    <img th:src="${usuarioAvatar != null ? usuarioAvatar : 'https://ui-avatars.com/api/?name=' + usuarioNome}"
                        alt="Avatar" class="avatar-img">
                </span>
                <span class="txt-link" th:text="${usuarioNome != null ? usuarioNome : 'Usuário'}"></span>
            </a>
        </li>
    </ul>
</nav>