 * {
            font-family: Arial, Helvetica, sans-serif;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            width: 100%;
        }

        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        main span {
            font-size: 50px;
        }