/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body */
body {
    height: 100vh;
    
}

/* Sidebar */
nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: rgb(55, 43, 226);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #3a3b7e;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}

nav.menu-lateral:hover {
    width: 300px;
}

/* Botão de expandir */
.btn-expandir {
    width: 100%;
    padding-left: 1px;
}

.btn-expandir > i {
    color: rgb(255, 255, 255);
    font-size: 26px;
    cursor: pointer;
}

/* Lista do menu */
ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu:hover {
    background: #171852;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

main {
  margin-left: 70px;
  padding: 20px;
  transition: margin-left 0.2s;
}

.menu-lateral:hover ~ main {
  margin-left: 300px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}