@import url('vars.css');
 
 body,
 h2,
 label,
 input,
 button,
 select {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     background-color: var(--cor-fundo);
     padding: 20px;
     color: #333;
 }

 form {
     max-width: 500px;
     margin: 40px auto;
     background-color: var(--cor-fundo);
     padding: 25px;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 h2 {
     text-align: center;
     color: var(--cor-primaria);
     margin-bottom: 20px;
 }

 label {
     display: block;
     margin-top: 15px;
     font-weight: bold;
 }

 input,
 select {
     width: 100%;
     padding: 10px;
     margin-top: 5px;
     border-radius: 6px;
     border: 1px solid #ccc;
     font-size: 14px;
 }

 button {
     margin-top: 20px;
     width: 100%;
     padding: 10px;
     background-color: var(--cor-botao);
     color: white;
     border: none;
     border-radius: 6px;
     font-size: 16px;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
     transition: background-color 0.3s;
 }

 button:hover {
     background-color: var(--cor-botao-hover);
 }

 #erroNome, #erroSenha{
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

 @media (max-width: 768px) {
     form {
         margin: 20px;
         padding: 20px;
     }

     button {
         font-size: 14px;
     }
}