:root{
    --cor-primaria: #4900ff;
    --cor-primaria-hover: #6e33ff;
    --cor-secundaria: #af59ff;
    --cor-fundo: #f5f5f5;  
    --cor-texto: #222;
    --cor-botao: #000aff;
    --cor-botao-hover: #4249ff;
}