main {
    margin-left: 70px;
    padding: 20px;
    transition: margin-left 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo mais para cima */
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;      /* Adiciona espaço do topo */
    margin-bottom: 30px;   /* Espaço maior abaixo da imagem */
}

.logo-placeholder img {
    width: 500px;
    height: 500px;
}