<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    
    <div class="login-container">
        <!-- LOGO -->
        <img th:src="@{/images/GESTOK2.png}" alt="Logo do Sistema">
        
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Digite seu email" required>
    </div>

    <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
    </div>

    <button type="submit">Entrar</button>

    <p th:if="${param.error}" style="color: red; text-align: center;">
        Email ou senha incorretos!
    </p>

    <p th:if="${param.logout}" style="color: green; text-align: center;">
        Logout realizado com sucesso!
    </p>
</form>

    </div>
</body>
</html>
