<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/welcome.css}">
    <link rel="stylesheet" th:href="@{/css/produtoCadastro.css}">

</head>
<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">
    <input type="hidden" th:field="*{id}">

    <h2>Formulário de Produto</h2>

    <label for="nome">Produto:</label>
    <input type="text" id="nome" th:field="*{nome}" required>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" th:field="*{descricao}" rows="3" required></textarea>

    <label for="quantidade">Quantidade</label>
    <input type="number" id="quantidade" name="quantidade" class="form-control" th:field="*{quantidade}" required>

    <label for="categoria">Categoria:</label>
    <select id="categoria" th:field="*{categoria}" required>
        <option value="">Selecione</option>
        <option value="Alimentício">Alimentício</option>
        <option value="Eletrônico">Eletrônico</option>
        <option value="Limpeza">Limpeza</option>
        <option value="Vestuário">Vestuário</option>
    </select>

    <label for="preco">Preço:</label>
    <input type="number" id="preco" th:field="*{preco}" step="0.01" required>

    <label for="validade">Validade:</label>
    <input type="date" id="validade" th:field="*{validade}" required>

    <button type="submit">Cadastrar</button>
</form>

    </form>
</body>
</html>
