<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/welcome.css}">
    <link rel="stylesheet" th:href="@{/css/usuarioCadastro.css}">
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}">
        <h2>Cadastro de Usuário</h2>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" placeholder="Digite o nome" required oninput="validarNome()">
        <p id="erroNome"></p>

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" placeholder="Digite o email" required>

        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" th:field="*{dataNascimento}" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{senha}" placeholder="Digite a senha" required>

        <label for="confirm_password">Confirmar Senha:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme a sua senha" required
            oninput="validarSenhas()">
        <p id="erroSenha"></p>

        <!-- Campo de seleção da role -->
        <label for="role">Função:</label>
        <select id="role" th:field="*{role}" required>
            <option value="USER">Usuário</option>
            <option value="ADMIN">Administrador</option>
        </select>
        <button type="submit"><i class="bi bi-person-plus"></i> Cadastrar Usuário</button>
    </form>

    <script>
        function validarSenhas() {
            let senha = document.getElementById("password").value;
            let confirmarSenha = document.getElementById("confirm_password").value;
            if (senha !== confirmarSenha) {
                document.getElementById("erroSenha").innerText = "As senhas não coincidem!";
                return false;
            }
            else {
                document.getElementById("erroSenha").innerText = "";
                return true;
            }
        }

        function validarNome() {
            let nome = document.getElementById("name").value;
            let letras = /^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$/;

            if (!letras.test(nome)) {
                document.getElementById("erroNome").innerText = "O nome deve conter apenas letras.";
                return false;
            }

            else {
                document.getElementById("erroNome").innerText = "";
                return true;
            }

        }
    </script>


</body>

</html>